jituan/jboss-4.2.3.GA/server/default/data/wsdl/application-jiangsu.ear/ida40-console.war/FacadeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FacadeService" targetNamespace="http://www.regaltec.com.cn/ida40" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ida40="http://www.regaltec.com.cn/ida40" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.regaltec.com.cn/ida40">
      <xsd:element name="executeXML" type="ida40:ExecuteXML"/>
      <xsd:element name="executeXMLResponse" type="ida40:ExecuteXMLResponse"/>
      <xsd:complexType name="ExecuteXML">
          <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="parameterXML" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExecuteXMLResponse">
          <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="responseXML" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeXMLResponse">
    <wsdl:part name="parameters" element="ida40:executeXMLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeXMLRequest">
    <wsdl:part name="parameters" element="ida40:executeXML">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FacadeServicePort">
    <wsdl:operation name="executeXML">
      <wsdl:input message="ida40:executeXMLRequest">
    </wsdl:input>
      <wsdl:output message="ida40:executeXMLResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacadeServiceSOAPBinding" type="ida40:FacadeServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executeXML">
      <soap:operation soapAction="http://www.regaltec.com.cn/ida40/executeXML"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacadeService">
    <wsdl:port name="FacadeServiceSOAP" binding="ida40:FacadeServiceSOAPBinding">
      <soap:address location="http://127.0.0.1:8080//FacadeService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
