jituan/jboss-4.2.3.GA/server/default/data/wsdl/application-saudiOil.ear/ida40-console.war/AsipService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AsipService" targetNamespace="http://www.regaltec.com.cn/ida40" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ida40="http://www.regaltec.com.cn/ida40" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.regaltec.com.cn/ida40">
            <xsd:element name="call" type="ida40:call"/>
            <xsd:element name="callResponse" type="ida40:callResponse"/>
            <xsd:complexType name="call">
                <xsd:sequence>
                    <xsd:element name="serviceName" type="xsd:string"/>
                    <xsd:element name="serviceClass" type="xsd:string"/>
                    <xsd:element name="parameterXML" type="xsd:string"/>
                    <xsd:element name="contextName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="callResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="callRequest">
    <wsdl:part name="parameters" element="ida40:call">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="callResponse">
    <wsdl:part name="parameters" element="ida40:callResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AsipServicePort">
    <wsdl:operation name="call">
      <wsdl:input message="ida40:callRequest">
    </wsdl:input>
      <wsdl:output message="ida40:callResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsipServiceSOAP" type="ida40:AsipServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="call">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsipService">
    <wsdl:port name="AsipServiceSOAP" binding="ida40:AsipServiceSOAP">
      <soap:address location="http://zengjunjia:8080//AsipService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
